{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}" />
  </head>
  <body  ng-app="document">
    {% verbatim %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><strong><span class="glyphicon glyphicon-duplicate"></span>&nbspRURA</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="nav navbar-nav navbar-right">
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button type="button" class="btn btn-danger navbar-btn">Admin</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <firm-select-nav></firm-select-nav>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><strong>{{activeFirm.name}}</strong></h1>
          <div ng-show="activeFirm">
            <doc-tabs-nav></doc-tabs-nav>
            <!--<ui-view><i>Wybierz firmę z listy po lewej stronie</i></ui-view>-->
          </div>
        </div>
      </div>
    </div>
  {% endverbatim %}


  <script src="http://apis.google.com/js/client.js"></script>
  <script src="http://apis.google.com/js/api.js"></script>
  <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/angular-resource.js" %}"></script>
  <script type="text/javascript" src="{% static "js/angular-animate.js" %}"></script>

  <script type="text/javascript" src="{% static "js/google-picker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-0.13.4.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/angular-ui-router.min.js" %}"></script>

  <script type="text/javascript" src="{% static "js/app.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/firm-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/doc-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/agreement-sides-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/contractor-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/delivered-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/invoice-responsibles-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/other-responsibles-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/senders-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/services/tax-services.js" %}"></script>
  <script type="text/javascript" src="{% static "js/controllers/firm-nav.js" %}"></script>
  <script type="text/javascript" src="{% static "js/controllers/doc-modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/firm-select-nav.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/doc-tabs-nav.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/doc-tab-item.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/doc-invoice-form.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/doc-agreement-form.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/doc-other-form.js" %}"></script>
  <script type="text/javascript" src="{% static "js/directives/file-upload.js" %}"></script>
</body>
</html>