<div class="row"><div class="col-md-12"><span>&nbsp</span></div></div>
  <form class="form-horizontal well">
    <div class="form-group">
      <div class="col-md-4 col-lg-3">
        <select id="selectInOut" class="form-control" ng-model="selected.document_type">
          <option ng-selected="true" value="IN">Dokumenty Przychodzące</option>
          <option value="OUT">Dokumenty Wychodzące</option>
        </select>
      </div>
      <div class="col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-6">
        <button type="button" class="btn btn-success btn-lg"  ng-click="open('lg')">
          <strong>
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true">&nbspNowy Dokument</span>
          </strong>
        </button>
      </div>
    </div>
  </form>
<button ng-controller="ExcelCtrl" class="btn btn-link pull-right" ng-click="exportToExcel('#docTable')">
        <span class="glyphicon glyphicon-share"></span>&nbspEksportuj
    </button>
<div class="table-responsive">
  <table class="table table-striped table-hover" ts-wrapper id='docTable'>
    <thead ng-if="type==='invoice'">
      <tr>
        <th ts-criteria="received_date|date: 'yyyy-MM-dd'" ts-default>Data otrzymania</th>
        <th ts-criteria="registry_nr">Nr w rejestrze</th>
        <th ts-criteria="netto|parseFloat">Netto</th>
        <th ts-criteria="brutto|parseFloat">Brutto</th>
        <th ts-criteria="tax_value|parseInt">VAT</th>
        <th ts-criteria="paid">Zapłacono</th>
        <th ts-criteria="payment_date|date: 'yyyy-MM-dd'">Data zapłacenia</th>
        <th ts-criteria="contractor_name">Kontrahent</th>
        <th ts-criteria="responsible_name">Osoba odp.</th>
        <th ts-criteria="delivered_name">Dostarczono do</th>
        <th ts-criteria="scan">Skan</th>
        <th ts-criteria="notes">Uwagi</th>
      </tr>
    </thead>
    <thead ng-if="type==='agreement'">
      <tr>
        <th ts-criteria="received_date|date: 'yyyy-MM-dd'" ts-default>Data otrzymania</th>
        <th ts-criteria="registry_nr">Nr w rejestrze</th>
        <th ts-criteria="agr_date|date: 'yyyy-MM-dd'">Data umowy</th>
        <th ts-criteria="agr_subject">Temat umowy</th>
        <th ts-criteria="agr_side_name">Strona umowy</th>
        <th ts-criteria="scan">Skan</th>
        <th ts-criteria="notes">Uwagi</th>
      </tr>
    </thead>
    <thead ng-if="type==='other'">
      <tr>
        <th ts-criteria="received_date|date: 'yyyy-MM-dd'" ts-default>Data otrzymania</th>
        <th ts-criteria="registry_nr">Nr w rejestrze</th>
        <th ts-criteria="description">Opis</th>
        <th ts-criteria="sender_name">Nadawca</th>
        <th ts-criteria="responsible_name">Osoba odp.</th>
        <th ts-criteria="scan">Skan</th>
        <th ts-criteria="notes">Uwagi</th>
      </tr>
    </thead>
    <tbody ng-if="type==='invoice'">
      <tr ng-repeat="d in docs | filter: selected" ts-repeat>
        <td ng-click="open('lg', d)">{{d.received_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.registry_nr}}</td>
        <td ng-click="open('lg', d)">{{d.netto | currency }}</td>
        <td ng-click="open('lg', d)">{{d.brutto | currency }}</td>
        <td ng-click="open('lg', d)" ng-bind="d.tax_value=getValue(d.tax, taxes)" ng-model="d.tax_value">{{d.tax_value}}%</td>
        <td ng-click="open('lg', d)">
          <span ng-show="d.paid" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="!d.paid" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </td>
        <td ng-click="open('lg', d)">{{d.payment_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)" ng-bind="d.contractor_name=getName(d.contractor, contractors)" ng-model="d.contractor_name">{{d.contractor_name}}</td>
        <td ng-click="open('lg', d)" ng-bind="d.responsible_name=getName(d.responsible, invoiceRespons)" ng-model="d.responsible_name">{{d.responsible_name}}</td>
        <td ng-click="open('lg', d)" ng-bind="d.delivered_name=getName(d.delivered, delivereds)" ng-model="d.delivered_name">{{d.delivered_name}}</td>
        <td>
          <a ng-href="{{getFileUrl(d.scan)}}" target="_blank">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </a>
        </td>
        <td ng-click="open('lg', d)" popover="{{d.notes}}" popover-placement="left" popover-trigger="mouseenter">
            <span  ng-show="isDefined(d.notes)"class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </td>
      </tr>
    </tbody>
    <tbody ng-if="type==='agreement'">
      <tr ng-repeat="d in docs | filter: selected" ts-repeat>
        <td ng-click="open('lg', d)">{{d.received_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.registry_nr}}</td>
        <td ng-click="open('lg', d)">{{d.agr_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.agr_subject}}</td>
        <td ng-click="open('lg', d)" ng-bind="d.agr_side_name=getName(d.agr_side, agreementSides)" ng-model="d.agr_side_name">{{d.agr_side_name}}</td>
        <td>
          <a ng-href="{{getFileUrl(d.scan)}}" target="_blank">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </a>
        </td>
        <td ng-click="open('lg', d)" popover="{{d.notes}}" popover-placement="left" popover-trigger="mouseenter">
            <span  ng-show="isDefined(d.notes)"class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </td>
      </tr>
    </tbody>
    <tbody ng-if="type==='other'">
      <tr ng-repeat="d in docs | filter: selected" ts-repeat>
        <td ng-click="open('lg', d)">{{d.received_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.registry_nr}}</td>
        <td ng-click="open('lg', d)">{{d.description}}</td>
        <td ng-click="open('lg', d)" ng-bind="d.sender_name=getName(d.sender, senders)" ng-model="d.sender_name">{{d.sender_name}}</td>
        <td ng-click="open('lg', d)" ng-bind="d.responsible_name=getName(d.responsible, otherRespons)" ng-model="d.responsible_name">{{d.responsible_name}}</td>
        <td>
          <a ng-href="{{getFileUrl(d.scan)}}" target="_blank">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </a>
        </td>
        <td ng-click="open('lg', d)" popover="{{d.notes}}" popover-placement="left" popover-trigger="mouseenter">
            <span  ng-show="isDefined(d.notes)"class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>