<div class="row"><div class="col-md-12"><span>&nbsp</span></div></div>
  <form class="form-horizontal well">
    <div class="form-group">
      <div class="col-md-4 col-lg-3">
        <select id="selectInOut" class="form-control" ng-model="selected.document_type">
          <option ng-selected="true" value="IN">Dokumenty Przychodzące</option>
          <option value="OUT">Dokumenty Wychodzące</option>
        </select>
      </div>
      <div class="col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-6">
        <button type="button" class="btn btn-success btn-lg"  ng-click="open('lg')">
          <strong>
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true">&nbspNowy Dokument</span>
          </strong>
        </button>
      </div>
    </div>
  </form>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead ng-if="type==='invoice'">
      <tr>
        <th>Data otrzymania</th>
        <th>Nr w rejestrze</th>
        <th>Netto</th>
        <th>Brutto</th>
        <th>VAT</th>
        <th>Zapłacono</th>
        <th>Data zapłacenia</th>
        <th>Kontrahent</th>
        <th>Osoba odp.</th>
        <th>Dostarczono do</th>
        <th>Skan</th>
        <th>Uwagi</th>
      </tr>
    </thead>
    <thead ng-if="type==='agreement'">
      <tr>
        <th>Data otrzymania</th>
        <th>Nr w rejestrze</th>
        <th>Data umowy</th>
        <th>Temat umowy</th>
        <th>Strona umowy</th>
        <th>Skan</th>
        <th>Uwagi</th>
      </tr>
    </thead>
    <thead ng-if="type==='other'">
      <tr>
        <th>Data otrzymania</th>
        <th>Nr w rejestrze</th>
        <th>Opis</th>
        <th>Nadawca</th>
        <th>Osoba odp.</th>
        <th>Skan</th>
        <th>Uwagi</th>
      </tr>
    </thead>
    <tbody ng-if="type==='invoice'">
      <tr ng-repeat="d in docs | filter: selected">
        <td ng-click="open('lg', d)">{{d.received_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.registry_nr}}</td>
        <td ng-click="open('lg', d)">{{d.netto}} zł</td>
        <td ng-click="open('lg', d)">{{d.brutto}} zł</td>
        <td ng-click="open('lg', d)">{{getValue(d.tax, taxes)}}%</td>
        <td ng-click="open('lg', d)">
          <span ng-show="d.paid" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="!d.paid" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </td>
        <td ng-click="open('lg', d)">{{d.payment_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{getName(d.contractor, contractors)}}</td>
        <td ng-click="open('lg', d)">{{getName(d.responsible, invoiceRespons)}}</td>
        <td ng-click="open('lg', d)">{{getName(d.delivered, delivereds)}}</td>
        <td>
          <a ng-href="{{getFileUrl(d.scan)}}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </a>
        </td>
        <td ng-click="open('lg', d)" popover="{{d.notes}}" popover-placement="left" popover-trigger="mouseenter">
            <span  ng-show="isDefined(d.notes)"class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </td>
      </tr>
    </tbody>
    <tbody ng-if="type==='agreement'">
      <tr ng-repeat="d in docs | filter: selected">
        <td ng-click="open('lg', d)">{{d.received_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.registry_nr}}</td>
        <td ng-click="open('lg', d)">{{d.agr_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.agr_subject}}</td>
        <td ng-click="open('lg', d)">{{getName(d.agr_side, agreementSides)}}</td>
        <td>
          <a ng-href="{{getFileUrl(d.scan)}}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </a>
        </td>
        <td ng-click="open('lg', d)" popover="{{d.notes}}" popover-placement="left" popover-trigger="mouseenter">
            <span  ng-show="isDefined(d.notes)"class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </td>
      </tr>
    </tbody>
    <tbody ng-if="type==='other'">
      <tr ng-repeat="d in docs | filter: selected">
        <td ng-click="open('lg', d)">{{d.received_date | date: 'yyyy-MM-dd'}}</td>
        <td ng-click="open('lg', d)">{{d.registry_nr}}</td>
        <td ng-click="open('lg', d)">{{d.description}}</td>
        <td ng-click="open('lg', d)">{{getName(d.sender, senders)}}</td>
        <td ng-click="open('lg', d)">{{getName(d.responsible, otherRespons)}}</td>
        <td>
          <a ng-href="{{getFileUrl(d.scan)}}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          </a>
        </td>
        <td ng-click="open('lg', d)" popover="{{d.notes}}" popover-placement="left" popover-trigger="mouseenter">
            <span  ng-show="isDefined(d.notes)"class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>