<div class="modal-header">
  <h3 class="modal-title">Document type: {{newDoc.document_type === 'IN'}}</h3>
</div>
<form class="form-horizontal css-form" name="form" novalidate ng-submit="isValidForm(form) && submitForm()">
  <div class="modal-body">
    <div style="display:none">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>
    <pre>{{newDoc}}</pre>
    <div class="alert alert-danger" role="alert" ng-show="form.$submitted && form.$error.required.length > 0">Nie wszystkie wymagane pola zostały wypełnione</div>
    <div class="form-group">
      <label for="docType" class="col-sm-2 control-label">Rodzaj Dokumentu</label>
      <div class="col-sm-3">
        <select id="docType" class="form-control" ng-model="newDoc.flavor" ng-change="clearData()">
          <option ng-selected="isFlavor('invoice')" value="invoice">Faktura</option>
          <option ng-selected="isFlavor('agreement')" value="agreement">Umowa</option>
          <option ng-selected="isFlavor('other')"value="other">Pozostałe</option>
        </select>
      </div>
      <label for="typeInOut" class="col-sm-2 control-label">Typ</label>
      <div class="col-sm-3">
        <select id="typeInOut" class="form-control" ng-model="newDoc.document_type">
          <option ng-selected="isType('IN')" value="IN">Dokument Przychodzący</option>
          <option ng-selected="isType('OUT')" value="OUT">Dokument Wychodzący</option>
        </select>
      </div>
    </div>
    <doc-invoice-form ng-if="isFlavor('invoice')"></doc-invoice-form>
    <doc-agreement-form ng-if="isFlavor('agreement')"></doc-agreement-form>
    <doc-other-form ng-if="isFlavor('other')"></doc-other-form>
    <file-upload></file-upload>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-show="isValidForm(form)">Zapisz</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Anuluj</button>
  </div>
</form>