<div>
  <div class="form-group" ng-if="!hasFile()">
    <div class="col-sm-6 col-sm-offset-3">
      <button class="btn btn-info btn-lg btn-block" type="button" lk-google-picker
      on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()">
      <span class="glyphicon glyphicon-upload"></span>&nbspZaładuj plik
      </button>
    </div>
  </div>
  <div class="form-group" ng-if="hasFile()">
    <div class="col-sm-9 col-sm-offset-1 well well-sm">
      <a href="{{ getFileUrl() }}" target="_blank">
        <span class="glyphicon glyphicon-file"></span>
        &nbsp{{newDoc.scan.split('|')[0]}}
      </a>
    </div>
  </div>
</div>